<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="refresh" content="15">
        <title>Laporan Status Air dan Angin</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="left">
            <div class="water">
                <h1>Status Ketinggian Air :</h1>
                <p>50% (Bahaya)</p>
            </div>
        </div>
        <div class="right">
            <div class="wind">
                <h1>Status Kecepatan Angin :</h1>
                <p>50% (Bahaya)</p>
            </div>
        </div>
    </body>
</html>


<!-- <h1>Status Air dan Angin Saat ini</h1>
        <h2>Ketinggian Air: {{.waterValue}} m</h2>
        <h2>Status: {{.water}}</h2>
        <br/>
        <h2>Kecepatan Angin: {{.windValue}} m/s</h2>
        <h2>Status: {{.wind}}</h2> -->